<section id="pre-login" class="m-2 p-5">
  <div>
    <div class="d-flex justify-content-between gap-5 flex-column flex-lg-row">
      <div class="login-container ">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Welcome to the Land Information System Online Portal</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Before you can access these online application forms, you need to have created an account by registering
              and logged into your account.</p>
            <div class="d-flex flex-column gap-5">
              <button mat-stroked-button color="primary">Login</button>
              <div class="d-flex flex-column gap-3">
                <button mat-stroked-button color="primary">Create a User Account</button>
                <button mat-stroked-button color="primary">Create an Organisation Account</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>


        <div class="d-flex  gap-3 flex-sm-row flex-column apps">
          <div class="max-300">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <h2>State Owned Lands Application</h2>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>If you are a contractor, or a property owner, and plan to undertake new construction or renovation work on that property, you can apply for the construction permit here.</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="max-300">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <h2>Apply for a Right-of-Way Permit</h2>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>You can apply for a right-of-way permit if you are an entity or organization that requires access to, or use of, the public right-of-way for a specific purpose.</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
    </div>
  </div>

</section>
